#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.error {
  margin: 0 auto;
  color: red;
  background: lightpink;
  padding: 10px;
  border-radius: 10px;
  width: max-content;
}

form {
  margin-top: 10px;
  margin-bottom: 10px;
}

.lines {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(5, 1fr);
}

.line {
  margin: 0 auto;
  width: 50px;
  text-align: center;
  border: 1px dashed white;
}

.person {
  border: 1px white solid;
  border-radius: 50%;
  padding: 4px;
  margin-bottom: 4px;
}

.person:last-child {
  margin-bottom: 0px;
}

.cashier {
  max-width: 52px;
  filter: invert(100%);
}

@media (prefers-color-scheme: light) {
  .cashier {
    filter: invert(0);
  }

  .line {
    border: 1px dashed black;
  }

  .person {
    border: 1px black solid;
  }
}